.boton-morado {
    @include boton($morado, inline-block);
}

.boton-morado-block {
    @include boton($morado, block);
}

.boton-fiusha {
    @include boton($fiusha, inline-block);
}
.boton-naranja{
	@include boton($naranja, inline-block);
}
.boton-verde{
	@include boton($verde, inline-block);
}
.boton-rojo{
	@include boton($rojo, inline-block);
}
.btn-nueva-tarea{
	color: $blanco;
	background: $morado;
	font-size: 40rem;
	border-radius: 50%;
	padding: 1.8rem 2rem;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 3rem;
	margin-bottom: 4rem;
	transform: scale(1.1);
	cursor: pointer;
	@include tablet{
		transform: scale(1.4);
	}
}